:root {
	--white: #ffffff;
	--primary: #61ecbc;
	--black: #182339;
}

html {
	font-size: 62.5%;
}

body {
	background-image: url("./bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	min-height: 100dvh;
	overflow-y: hidden;
	font-family: "Outfit", sans-serif;
	font-size: 2rem;
}

@media (max-width: 767px) {
	body {
		overflow-y: auto;
	}
}

.container {
	max-width: 60rem;
	width: 95%;
	margin: 0 auto;
}

.app-title {
	font-size: 3rem;
	margin-top: 5rem;
	color: var(--white);
	text-align: center;
}

.app-title span {
	display: block;
	color: var(--primary);
	font-size: 4rem;
}

.content {
	margin-top: 5rem;
	padding: 6rem 2rem;
	background-color: var(--white);
	border-radius: 1rem;
	box-shadow: rgb(0 0 0 / 78%) 4px 5px 12px;
}

/* FORMULARIO */

.form,
.field {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form label {
	color: var(--black);
}

.form select {
	background-color: #ecebeb;
	border: none;
	padding: 1rem;
	border-radius: 1rem;
	font-size: 1.5rem;
}

.form [type="submit"] {
	background-color: var(--primary);
	color: var(--black);
	border: none;
	border-radius: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 300ms ease;
}

.form [type="submit"]:hover {
	background-color: #5ae0b1;
}

/* ERROR */

.error {
	text-align: center;
	color: red;
}

/* COTIZADOR */

.result-wrapper {
	margin-top: 5rem;
}

.result-wrapper h2 {
	text-align: center;
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

@media (min-width: 768px) {
	.result {
		flex-direction: row;
		align-items: center;
	}
}

.result img {
	width: 25%;
}

.result p {
	font-size: 1.7rem;
	margin: 0;
}

.result span {
	font-size: 1.5rem;
	font-weight: 600;
}
