:root {
    --white: #ffffff;
    --primary: #61ecbc;
    --black: #182339;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
}

.container {
    max-width: 60rem;
    width: 95%;
    margin: 0 auto;
}

.app-title {
    font-size: 3rem;
    margin-top: 5rem;
    color: var(--white);
    text-align: center;
}

.app-title span {
    display: block;
    color: var(--primary);
    font-size: 4rem;
}

.content {
    margin-top: 5rem;
    padding: 6rem 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 78%) 4px 5px 12px;
}

/* FORMULARIO */

.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form label {
    color: var(--black);
}

.form select {
    background-color: #ecebeb;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.form [type="submit"] {
    background-color: var(--primary);
    color: var(--black);
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.form [type="submit"]:hover {
    background-color: #5ae0b1;
}

/* ERROR */

.error {
    text-align: center;
    color: red;
}